# This is the parent pipeline. It contains manual trigger jobs for various test combinations.

stages:
  - trigger

.trigger_template: &trigger_template
  stage: trigger
  rules:
    - when: manual
  trigger:
    include: 'child-pipeline.yml'
    strategy: depend

# --- AMD64 Triggers ---

trigger:amd64-stable:
  <<: *trigger_template
  variables:
    ARCH: 'amd64'
    TYPE: 'stable'

trigger:amd64-testing:
  <<: *trigger_template
  variables:
    ARCH: 'amd64'
    TYPE: 'testing'

trigger:amd64-alternative-stable:
  <<: *trigger_template
  variables:
    ARCH: 'amd64'
    TYPE: 'alternative-stable'

trigger:amd64-testing:
  <<: *trigger_template
  variables:
    ARCH: 'amd64'
    TYPE: 'alternative-testing'

# --- ARM64 Triggers ---

trigger:arm64-stable:
  <<: *trigger_template
  variables:
    ARCH: 'arm64'
    TYPE: 'stable'

# --- RISCV64 Triggers ---

trigger:riscv64-stable:
  <<: *trigger_template
  variables:
    ARCH: 'riscv64'
    TYPE: 'stable'

# Add more combinations as needed.
# For example, to add alternative-stable for amd64:
#
# trigger:amd64-alternative-stable:
#   <<: *trigger_template
#   variables:
#     ARCH: 'amd64'
#     TYPE: 'alternative-stable'
